<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Main page</title>
    </head>

    <body>
    <h3><a href="{% url 'profile_view' user %}">Username - {{ user }}</a></h3>
        <h3><a href="{% url 'create_account' user %}">Create new account</a></h3>
        <h3>All accounts</h3>
        <table border="1">
            <tr>
                <th>
                    Account holder
                </th>
                <th>
                    Total
                </th>
            </tr>
            {% for each in all_accounts %}
                <tr>
                    <td>
                        <a href="{% url 'account_view' user each %}">{{ each }}</a>
                    </td>
                    <td>
                        {{ each.total }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>