{%extends 'base.html' %}
{%block title%} List of users {%endblock%}
{%block center%}
<table border="1">
            <tr>
                <th>
                    User
                </th>
                <th>
                   User Edit
                </th>
                <th>
                   User Delete
                </th>
                <th>
                   User Accounts
                </th>
            </tr>
            {% for each in users %}
                <tr>
                    <td>
                        <a href="{% url 'profile_view' each %}">{{ each }}</a>
                    </td>
                    <td>
                        <a href="{% url 'edit_user' each %}">Edit| {{ each }}</a>
                    </td>
                    <td>
                        <a href="{% url 'delete_user' each %}">Delete| {{ each }}</a>
                    </td>
                    <td>
                        <a href="{% url 'get_all_accounts' each %}">All accounts</a><br>
                    </td>
                </tr>
            {% endfor %}
        </table>
{%endblock%}