{%extends 'base.html' %}
{%block title%} Charge for {{user}} {%endblock%}
{%block content%}
        <h3><a href="{% url 'account_view' user account %}">Account Holder - {{ account }}</a></h3>
        <form  method="post">
            {% csrf_token %}
            <h3>Transaction</h3>
            <h4>Date of transaction</h4>
            <input name="date" type="date"><br/><br/>
            <h4>Value of transaction</h4>
            <input name="value" type="number" required><br/>
            </br>
            <button type="submit">Send</button>
        </form>
        <br/>
        <h3>
            Result of transaction:
        </h3>
        {% if info == None %}
            {% if form.date.value != None %}
               Date of transaction: {{ form.date.value }}
            {% endif %}
            {% if form.value.value != None %}
                <br/>
                Value of transaction: {{ form.value.value }}
            {% endif %}
        {% elif info != None %}
        Transaction has not been send.
        {%endif%}
            <h4>Errors</h4>
            {% for error in form.date.errors %}
                {% if forloop.first %}
                    <ul>
                {% endif %}
                <li>{{ error }}</li>
                {% if forloop.first %}
                    </ul>
                {% endif %}
            {% empty %}
            {% endfor %}
{{ info }}
{%endblock%}
