{%extends 'base.html' %}
{%block title%} All charges of {{user}} {%endblock%}
{%block content%}
        <h3><a href="{% url 'account_view' user account %}">Account holder - {{ account }}</a></h3>
        <table>
            <tr>
                <th>
                    Income
                </th>
                <th>
                    Outcome
                </th>
            </tr>
            <tr>
                <td>

                    <table border="1">
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        {% for each in incomes %}
                            <tr>
                                <td>
                                    <a href="{% url 'charge_view' user account each.id %}"> {{ each.id }} </a>
                                </td>
                                <td>
                                    {{ each.date }}
                                </td>
                                <td>
                                    {{ each.value }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                </td>

                <td>

                    <table border="1">
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        {% for each in outcomes %}
                            <tr>
                                <td>
                                    <a href="{% url 'charge_view' user account each.id %}"> {{ each.id }} </a>
                                </td>
                                <td>
                                    {{ each.date }}
                                </td>
                                <td>
                                    {{ each.value }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                </td>

            </tr>
        </table>
{%endblock%}