{%extends 'base.html' %}
{%block title%} User|{{user}} edit {%endblock%}
{%block content%}
    <form action="{% url 'edit_user' user%}" method="post">
        {% csrf_token %}
        <h3>Input New Username:</h3><br/>
        <input name="userprofile" type="text"><br/>
        <h3>Input New Password:</h3><br/>
        <input name="password" type="password"><br/>
        <h3>Input New Phone Number (International Format with +)*:</h3><br/>
        <input name="phone_number" type="tel"><br/>
        <h3>Input New Adress:</h3><br/>
        <input name="adress" type="text"><br/>
        <br>
        <button type="submit">Edit</button>
        <br>
        <br>You don't have to fill all the fields.<br/>
    </form>
{%endblock%}