<!DOCTYPE html>
<html>
    <head>
        <title>Транзакция</title>
    </head>
    <body>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <h3>Транзакция</h3>
            <h4>Сумма транзакции</h4>
            <input name="value" type="number" required><br/>
            <h4>Дата транзакции</h4>
            <input name="date" type="date"><br/><br/>
            <button type="submit">Отправить</button>
        </form>
        <br/>
        <h3>
            Результат транзакции:
        </h3>
            {% if form.date.value != None %}
                Дата транзакции: {{ form.date.value }}
            {% endif %}
            {% if form.value.value != None %}
                <br/>
                Сумма транзакции: {{ form.value.value }}
            {% endif %}
            <h4>Ошибки</h4>
            {% for error in form.date.errors %}
                {% if error != 'This field is required.' %}
                {{ error }}
                {% endif %}
            {% endfor %}
    </body>
</html>