{%extends 'base.html' %}
{%block title%} Statistics by month for {{ account }} {%endblock%}

{%block content%}
        <h3><a href="{% url 'account_view' user account %}">Account holder - {{ account }}</a></h3>
        <table border="1" bgcolor="white">
            <tr>
                <th>
                    Month, Year
                </th>
                <th>
                    Value
                </th>
            </tr>
            {% for each in months %}
                <tr>
                    <td>
                        {{ each.month }}
                    </td>
                    <td>
                        {{ each.c }}
                    </td>
                </tr>
            {% endfor %}
        </table>
{%endblock%}