{%extends 'base.html' %}
{%block title%} Statistics by month for {{ account }} {%endblock%}

{%block center%}
        <h3><a href="{% url 'account_view' user account %}">Account holder - {{ account }}</a></h3>
        <table border="1" bgcolor="white" align="center">
            <tr>
                <th>
                    Month, Year
                </th>
                <th>
                    Value
                </th>
            </tr>
            {% for each in months %}
                <tr>
                    <td>
                        {{ each.month }}
                    </td>
                    <td>
                        {{ each.c }}
                    </td>
                </tr>
            {% endfor %}
        </table>
<h3><a href="{% url 'get_data' user account %}"> Upload this table</a></h3>
<!--{% load static from staticfiles %} <img src="{% static 'images/plot_of_months.jpg' %}">-->
{%endblock%}