<!DOCTYPE html>
<br xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Profile View | {{ profile.username }}</title>
        <style>
            .text {
                text-align: center
            }
        </style>
    </head>
<body>
    {% if request.user.is_authenticated %}
    <div class="text">
    <br><h2>Profile Username</h2>  <a>{{profile}}</a></br>
    <br><h2>Profile Phone Number</h2>  <a>{{profile.phone_number}}</a></br>
    <br><h2>Profile Adress</h2> <a>{{profile.adress}}</a></br>
        </div>
    {%endif %}
    <a href="{% url 'create_account' profile %}">Create account</a><br>
    <a href="{% url 'get_all_accounts' profile %}">All accounts</a><br>
    <a href="{% url 'logout_view'%}">Exit the system</a><br>
    </body>
</html>